extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method="GET", action="/users" style='margin-bottom: 10px')
    label(for="name") Filter by Name: 
    input(type="text" name="name" value=name)
    input(type="submit")

  table
    thead
      tr
        th Id
        th First Name
        th Last Name
    tbody
      - each item in rows
        tr
          td #{item.id}
          td(style='width: '+(100/2)+'%') #{item.firstName}
          td= item.lastName

  